@page "/calendar"

@using JikApp.Data.Calendar;
@inject CalendarService CalendarService

<div class="text-right" dir="rtl">
    <h3>تقویم شخصی ایرانی</h3>
    @if (includeAddPanel)
    {
        <AuthorizeView>
            <Authorized>
                <JikApp.Components.Calendar.CalendarAddEvent />
                <hr />
            </Authorized>
        </AuthorizeView>
    }
    <div class="row">
        @if (events != null)
        {
            <div class="col-5">
                <JikApp.Components.Calendar.CalendarMonth _datetime="nowTime" />
            </div>
            <div class="col">
                @foreach (var _event in events)
                {
                    <JikApp.Components.Calendar.CalendarEvents _event="_event" />
                }
            </div>
        }
        else
        {
            <div class="col">
                Loading ...
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public bool includeAddPanel { get; set; } = true;

    List<Data.Calendar.Event> events;
    DateTime nowTime = DateTime.Now;
    List<Data.Calendar.Event> tmpEvents;

    protected override async Task OnInitializedAsync()
    {
        await GetEventsAsync();
    }

    async Task GetEventsAsync()
    {
        events = null;
        tmpEvents = null;
        StateHasChanged();
        await Task.Run(() =>
        {
            events = CalendarService.GetMonthEvents(nowTime);
            tmpEvents = events;
        //eventDate = nowTime;
    });
        StateHasChanged();
    }
}
