@page "/jik"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Security.Claims;
@using JikApp.Components;

@inject NavigationManager NavigationManager
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name!</h3>
        <form class="form-inline" action="#" @onsubmit="SendAsync">
            Say something:
            <input class="form-control" @bind="message" disabled="@(!IsConnected)" />
            <button class="btn btn-primary" disabled="@(!IsConnected)">Send</button>
        </form>
        <hr />
        <ul>
            @foreach (var jik in messages)
            {
                <JikComponent jik="jik" CurrentUserId="@user.Identity.Name" />
            }
        </ul>

        @code {
            [CascadingParameter]
            private Task<AuthenticationState> authenticationStateTask { get; set; }

            public ClaimsPrincipal user;

            string message;
            IList<Data.Jik> messages = new List<Data.Jik>();
            private HubConnection _hubConnection;

            protected override async Task OnInitializedAsync()
            {
                user = (await authenticationStateTask).User;
                if (user.Identity.IsAuthenticated)
                {
                    // Perform an action only available to authenticated (signed-in) users.
                    _hubConnection = new HubConnectionBuilder()
                            .WithUrl(NavigationManager.ToAbsoluteUri("/hubs/chat"))
                            .WithAutomaticReconnect()
                            .Build();

                    _hubConnection.On<string>("SendSystemAction", this.OnSystemBroadcast);
                    _hubConnection.On<Data.Jik>("SendJikAction", this.OnMessage);
                    _hubConnection.On<List<Data.Jik>>("GetJiksAction", this.OnGetJiks);
                    await _hubConnection.StartAsync();

                    await GetJiksAsync();
                }
            }

            Task OnSystemBroadcast(string message)
            {
                // TODO: Show system message in a proper way!
                Console.WriteLine(message);
                return Task.CompletedTask;
            }

            Task OnMessage(Data.Jik jik)
            {
                messages.Insert(0, jik);
                StateHasChanged();
                return Task.CompletedTask;
            }

            Task OnGetJiks(List<Data.Jik> jiks)
            {
                messages = jiks;
                StateHasChanged();
                return Task.CompletedTask;
            }

            async Task SendAsync()
            {
                if (message.Length >= 2)
                {
                    await _hubConnection.InvokeAsync("SendJik", new Data.Jik()
                    {
                        SenderId = user.Identity.Name,
                        Message = message,
                        Created_At = DateTime.Now
                    });
                    message = "";
                }
            }

            async Task GetJiksAsync()
            {
                await _hubConnection.InvokeAsync("GetJiks");
            }

            public bool IsConnected =>
                _hubConnection.State == HubConnectionState.Connected;
        }
    </Authorized>

</AuthorizeView>
